html, body {
    background-color: darkslategrey;
}

nav{
    background-color: lightskyblue;
}

a{
text-decoration: none;
}

p{
COLOR:WHITE;
}

h1{ 
color: white;
}

a{
    color: white;
}

h2{
    color: white;
}
